<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body> 
    <header>
        <h1>Welcome to My Website</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/logout">logout</a></li>
                <li><a href="/signup">signup</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
    </main>
    <script src = "{{ url_for('static',filename='js/index.js')}}"></script>
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>