{% extends  "base.html" %}
{%  block title %} View questions {% endblock %}
{% block content%}

<form method = 'POST' action = '/view_questions' >
    <select name="skill">
        <option value="">Select skill</option>
        <option value = "html">html</option>
        <option value = "css">css</option>
    </select>
    <input type = 'checkbox' name="difficulty" value="Easy">Easy
    <input type = 'checkbox' name="difficulty" value="Medium">Medium
    <input type = 'checkbox' name="difficulty" value="Hard">Hard
    <button type="submit">submit</button>
</form>

{% if questions %}
    <table class="table">
        <tr>
            <th></th>
            <th>SNO</th>
            <th>question</th>
            <th>answer</th>
            <th>skill</th>
            <th>Difficulty</th>
        </tr>
        <form method="POST" action="/selected_questions">
        {% for question in questions%}
        <tr>
            <td><input type="checkbox" name="question" value={{question.q_id}}></td>
            <td>{{question.q_id}}</td>
            <td>{{question.question}}</td>
            <td>{{question.answer}}</td>
            <td>{{question.skill}}</td>
            <td>{{question.difficulty}}</td>
        </tr>
        {% endfor %}
        </form>
    </table>
{% endif %}


{% endblock %}